.bottomcards {
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    margin-left: 3px;
    width: 100%;
    height: 184px;
    &__back {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        width: 189px;
        height: 184px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(47, 103, 245, 0.1);
        border-radius: 3px;
        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 157px;
            height: 34px;
            background: linear-gradient(270.2deg, #0008CB 24.29%, #0085FF 73.8%);
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;

            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 8px;    
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
            line-height: 1;
        }
        &-subtitle {
            font-family: 'Montserrat';
            font-weight: 500;
            font-size: 10px;
            text-transform: uppercase;
            background: linear-gradient(96.41deg, #4276FC 41.53%, #002A97 68.41%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            margin-top: 10px;
        }
        &-img {
            margin-top: 16px;
            height: 64px;
            width: 68px;
        }
        &-count {
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 30px;
            text-transform: uppercase;
            line-height: 1;
            margin-top: 12.5px;

            background: linear-gradient(174.85deg, #4276FC 33.54%, #002A97 79.61%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            
        }
        &-hamburger {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 7px;
            height: 5px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            span {
                display: block;
                width: 7px;
                height: 1px;
                background: #1B24FF;
                border-radius: 3px;
            }
        }
        &-arrow {
            cursor: pointer;
            position: absolute;
            width: 12px;
            height: 12px;
            right: 2px;
            bottom: 2px;
            border-radius: 100%;

            background: #FFFFFF;
            border: 1px solid #8DA2CB;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                width: 50%;
            }
        }
    }
    &__detectedoffense {
        position: relative;
        width: 381px;
        height: 184px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(47, 103, 245, 0.1);
        border-radius: 3px;
        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 308px;
            height: 12px;
            background: linear-gradient(270.2deg, #0008CB 24.29%, #0085FF 73.8%);
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;

            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 10px;    
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
            line-height: 1;
        }
        &-hamburger {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 7px;
            height: 5px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            span {
                display: block;
                width: 7px;
                height: 1px;
                background: #1B24FF;
                border-radius: 3px;
            }
        }
        &-chart {
            display: flex;
            padding: 5px;
            &-1 {
                width: 40%;
                height: 100%;
                &-text {
                    margin-top: 47px;
                    display: flex;
                    &-line {
                        content: "";
                        display: inline-block;
                        width: 16px;
                        height: 3px;
                        background: #2570D6;
                        border-radius: 2px;
                        margin-right: 5px;
                        margin-top: 10px;
                    }
                   span {
                        font-family: 'Montserrat';
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 14px;

                        background: linear-gradient(96.41deg, #4276FC 41.53%, #002A97 68.41%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    span {
                        display: block;
                        text-align: center;
                        font-family: 'Montserrat';
                        font-weight: 700;
                        font-size: 12px;

                        background: linear-gradient(96.41deg, #4276FC 41.53%, #002A97 68.41%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }  
                   }

                }
                &-text2 {
                    margin-top: 9px;
                    display: flex;
                    &-line {
                        content: "";
                        display: inline-block;
                        width: 16px;
                        height: 3px;
                        background: #2FBD2C;
                        border-radius: 2px;
                        margin-right: 5px;
                        margin-top: 10px;
                    }
                   span {
                        font-family: 'Montserrat';
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 14px;

                        background: linear-gradient(96.41deg, #4276FC 41.53%, #002A97 68.41%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    span {
                        display: block;
                        text-align: center;
                        font-family: 'Montserrat';
                        font-weight: 700;
                        font-size: 12px;

                        background: linear-gradient(96.41deg, #4276FC 41.53%, #002A97 68.41%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                    }  
                   }

                }
            }
            &-2 {
                
                width: 60%;
                height: 170px;

            }
        }
    }
    &__mapuz {
        position: relative;
        width: 393px;
        height: 184px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(47, 103, 245, 0.1);
        border-radius: 3px;
        &-gr {
            display: flex;
        }
        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            width: 366px;
            height: 12px;
            background: linear-gradient(270.2deg, #0008CB 24.29%, #0085FF 73.8%);
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;

            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 10px;    
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
            line-height: 1;
        }
        &-hamburger {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 7px;
            height: 5px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            span {
                display: block;
                width: 7px;
                height: 1px;
                background: #1B24FF;
                border-radius: 3px;
            }
        }
        &-block {
            position: absolute;
            bottom: 0;
            left: 72px;
            width: 121px;
            height: 39px;
            background-color: #ffffff;
            // &-2 {
            //     top: 20px;
            //     left: 161px;
            //     width: 39px;
            //     height: 39px;
            // }
        }
        &-list {
            margin-top: 10px;
            list-style-type: none;
            &-item {
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 8px;
                line-height: 12px;
                color: #023AE9;
                text-transform: uppercase;
            }
        }
    }
    &__linechart {
        position: relative;
        width: 483px;
        height: 184px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(47, 103, 245, 0.1);
        border-radius: 3px;
    }

    &__nonamebar {
        position: relative;
        width: 483px;
        height: 184px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(47, 103, 245, 0.1);
        border-radius: 3px;
    }

    &__linechart2 {
        position: relative;
        width: 393px;
        height: 215px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(47, 103, 245, 0.1);
        border-radius: 3px;
    }

    &__comission2 {
        display: flex;
        width: 575px;
        height: 215px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(47, 103, 245, 0.1);
        border-radius: 3px;
        &-1 {
            width: 238px;
            height: 215px;
            &-title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 133px;
                height: 12px;
                background: linear-gradient(270.2deg, #0008CB 24.29%, #0085FF 73.8%);
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
    
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 8px;    
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
                line-height: 1;
            }
            &-wrapper {
                height: 176px;
                width: 238px;
                margin-top: 14px;
                padding: 0 22px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-right: 1px solid #0F53B9;
                
            }
            &-item {
                position: relative;
                width: 100%;
                height: 19px;
                display: flex;
                align-items: center;
                color: #0F53B9;
                &:nth-child(2) {
                    span {
                        &::after {
                            background: #A30A9D;
                        }
                    }
                }
                &:nth-child(3) {
                    span {
                        &::after {
                            background: #00CC08;
                        }
                    }
                }
                &:nth-child(4) {
                    span {
                        &::after {
                            background: #13BFBF;
                        }
                    }
                }
                &:nth-child(5) {
                    span {
                        &::after {
                            background: #39C0EB;
                        }
                    }
                }
                
                &-count {
                    width: 40px;
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 12px;
                    text-transform: uppercase;
                    color: #0F53B9;

                }
                &-place {
                    width: 70px;
                    height: 19px;
                    text-align: center;
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 7px;
                    background: linear-gradient(96.41deg, #4276FC 41.53%, #002A97 68.41%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    border-bottom: 1px solid #0F53B9    ;
                }
                &-deadline{ 
                    position: absolute;
                    width: 35px;
                    height: 19px;
                    right: 0%;
                    text-align: center;
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-size: 7px;
                    background: linear-gradient(96.41deg, #4276FC 41.53%, #002A97 68.41%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    border-bottom: 1px solid #0F53B9    ;
                }
                span {
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        background: #FF0000;
                        margin-left: 7px;
                        margin-right: 5px;
                        margin-bottom: 5px;
                    }
                }
            }

        }
        &-2 {
            width: 168px;
            height: 215px;
            &-title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 131px;
                height: 18px;
                background: linear-gradient(270.2deg, #0008CB 24.29%, #0085FF 73.8%);
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
    
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 8px;    
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
                line-height: 1;
            }
            &-wrapper {
                height: 176px;
                width: 168px;
                margin-top: 14px;
                padding: 0 22px;
                border-right: 1px solid #0F53B9;
                canvas {
                    width: 100px;
                }
            }
            &-chart {
                margin: 0 auto;
                width: 75px;
                height: 75px;
            }
            &-descr {
                height: 80px;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 10px;


                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 7px;
                background: linear-gradient(96.41deg, #4276FC 41.53%, #002A97 68.41%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                &-item {
                    &:nth-child(2) {
                        &::before {
                            background: #F5A200;
                        } 
                    }
                    &:nth-child(3) {
                        &::before {
                            background: #73E600;
                        } 
                    }
                    &:nth-child(4) {
                        &::before {
                            background: #10C8D5;
                        } 
                    }
                    &:nth-child(5) {
                        &::before {
                            background: #FF0000;
                        } 
                    }
                    &:nth-child(6) {
                        &::before {
                            background: #D65A00;
                        } 
                    }
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 5px;
                        height: 5px;
                        background: #42D1FF;
                        margin-right: 4px;
                    }
                }
            }

        }
        &-3 {
            width: 168px;
            height: 215px;
            &-title {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                width: 117px;
                height: 18px;
                background: linear-gradient(270.2deg, #0008CB 24.29%, #0085FF 73.8%);
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
    
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 8px;    
                text-transform: uppercase;
                color: #FFFFFF;
                text-align: center;
                line-height: 1;
            }
            &-wrapper {
                height: 176px;
                width: 168px;
                margin-top: 14px;
                padding: 0 22px;
                display: flex;
                flex-direction: column;
                gap: 41px;
                padding-top: 22px;

                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 7px;
                line-height: 9px;
                text-align: center;
                background: linear-gradient(96.41deg, #4276FC 41.53%, #002A97 68.41%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            &-item {
                border-bottom: 1px solid #0F53B9;
            }

        }
    }
    &__bysex {
        position: relative;
        width: 574px;
        height: 184px;
        background: #FFFFFF;
        box-shadow: 0px 1px 5px rgba(47, 103, 245, 0.1);
        border-radius: 3px;
        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 15px;
            width: 274px;
            height: 12px;
            background: linear-gradient(270.2deg, #0008CB 24.29%, #0085FF 73.8%);
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;

            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 10px;    
            text-transform: uppercase;
            color: #FFFFFF;
            text-align: center;
            line-height: 1;
        }
        &-hamburger {
            position: absolute;
            top: 4px;
            right: 4px;
            width: 7px;
            height: 5px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            span {
                display: block;
                width: 7px;
                height: 1px;
                background: #1B24FF;
                border-radius: 3px;
            }
        }
        &-wrapper {
            display: flex;
            justify-content: space-between;
        }
        &-chart1 {
            width: 104px;
            height: 173px;
            &-item {
                width: 104px;
                height: 51px;
                display: flex;
                align-items: center;
            }
            &-title {
                width: 51px;
                height: 51px;
                font-family: 'Montserrat';
                font-weight: 600;
                font-size: 8px;
                line-height: 51px;
                text-align: right;
                text-transform: uppercase;
                color: #3061E0;
            }
            &-canvas {
                position: relative;
                width: 28px;
                height: 36px;
                display: flex;
                &-divider {
                    position: absolute;
                    height: 27px;
                    width: 1px;
                    background-color: black;
                    margin-left: 6px;
                }
            }
            &-count {
                width: 19px;
                height: 23px;
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 10px;
                line-height: 11px;
                text-align: right;
                letter-spacing: 0.05em;
                color: #3061E0;
                span {
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 11px;
                    text-align: right;
                    letter-spacing: 0.05em;
                    color: #EC7D17;
                }
               

            }
            &-labels {
                display: flex;
                justify-content:space-around;
                font-family: 'Montserrat';
                font-weight: 400;
                font-size: 10px;
                color: #3061E0;
                &-man {
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 4px;
                        height: 1px;
                        background: #107CE0;
                        border-radius: 2px;
                        margin-bottom: 2px;
                        margin-right: 2px;
                    }
                }
                &-woman {
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 4px;
                        height: 1px;
                        background: #EC7D17;
                        border-radius: 2px;
                        margin-bottom: 2px;
                        margin-right: 2px;
                    }
                }
            }
        }
        &-chart2 {
            width: 470px;
            height: 173px;
            &-chart {
                margin-top: 12px;
                height: 160px;
            }
                // float: right;
            }
        }
}



.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.map {
    width: 200px;
    height: 170px;
}

