// templates
.hamburger {
    width: 16.13px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 11.70px;

    span {
        display: block;
        width: 11.73px;
        height: 2.19px;
        background: #FFFFFF;
        border-radius: 2.93346px;
    }
    span.medium {
        width: 13.93px;

    }
    span.long {
        width: 16.13px;
    }
}
.menu {
    margin: 0px;
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__item {
        cursor: pointer;
        list-style-type: none;
        height: 35px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &-accrem {
            flex-direction: column;
            border: none;
            border-left: 3px  #0085FF solid;
            background: rgba(0, 0, 0, 0.26);
            height: 70px;
        }
    }    
    .active {
        border: none;
        border-left: 3px  #0085FF solid;
        background: rgba(0, 0, 0, 0.26);
    }
   
}